<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="perfil">
      <ion-icon name="flash" color="primary"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="obs" >
      <ion-icon name="apps" color="primary"></ion-icon>
      <ion-label>Observações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="filtro">
      <ion-icon name="send" color="primary"></ion-icon>
      <ion-label>Filtros</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
