.imgLogin{
    background-image: url('../../assets/imagens/logo.png');
    background-color: red !important;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    width: 120px;
}
.item {
    background: transparent !important;
}
.list .item-input:last-child {
    border-bottom: none !important;
}
